@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Montserrat+Alternates:wght@200;300;400;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap'); /* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}
.vertical-dotted-line-active {
  border-left: 5px dotted white;
  height: 15px;
}
.vertical-dotted-line {
  border-left: 5px dotted rgba(255, 255, 255, 0.5);
  height: 15px;
}
